body{
    background: #ededed;
}
section{
    display: flex;
    flex-direction:column;
}

section .createFitxa{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    margin: 25px 0px; 
    /* width: clamp(400px, 70vw, 1400px); */

}

section .createFitxa input{
    border: none;
    border-bottom:1px solid black;
    padding: 5px;
    background: transparent;
}


section .createFitxa button{
    background: var(--Scolor);
    color: white;
    border:none;
    padding: 12px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-size: .85em;
}

section .createFitxa button:hover{
    background-color: var(--Pcolor);
    color: black;
    transition: .3s;
    border: 1px solid black;
}

section table{
    height: auto;
    width: clamp(400px, 70vw, 1400px);
    margin-inline: auto;
    border-spacing: 0px 5px;
}

section table thead tr > *{
    text-align: left;
}

section table tbody tr{
    height: 8vh;
    background-color: var(--Scolor);
    color: white;
}

table tr td, table tr th{
    padding-inline:15px ;
}

.buttons{
    text-align: right;
}

.buttons button{
    padding-inline: 10px;
    background: none;
    border: none;
    cursor: pointer;
}


.buttons button i{
    font-size: 1.3em;
    color: white;
}


.error{
    border: 1px solid red !important;
    padding: 5px;
}